.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://thumbs.dreamstime.com/b/doctor-man-stethoscope-hospital-84232406.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}